@font-face {
  font-family: "Source Han Serif SC";
  src: local("Source Han Serif SC"), local("思源宋体"),
    url("../fonts/SourceHanSerifSC-VF.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Source Han Sans SC";
  src: local("Source Han Sans SC"), local("思源黑体"),
    url("../fonts/SourceHanSansSC-VF.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "IM Fell English";
  src: url("../fonts/IMFellEnglish-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "IM Fell English";
  src: url("../fonts/IMFellEnglish-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}